<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PinkPlus Tracker Extension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>PinkPlus Tracker.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>PinkPlus.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D01D88A625152F320054586A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D01D88BC25152F340054586A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D01D88C725152F340054586A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D089B56325206EB700A14417</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D089B56F25206EBA00A14417</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
