<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705970858118-vkkua37avl32hm660d70bhthqnd0qmgf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705970858118-vkkua37avl32hm660d70bhthqnd0qmgf</string>
	<key>API_KEY</key>
	<string>AIzaSyC6etR-W6BzBJKfvxE16OYd9jPQeJuS52E</string>
	<key>GCM_SENDER_ID</key>
	<string>705970858118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>PinkPlus.Pink-</string>
	<key>PROJECT_ID</key>
	<string>pinkplus-420</string>
	<key>STORAGE_BUCKET</key>
	<string>pinkplus-420.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:705970858118:ios:51fe0be58b6251a3d1c907</string>
	<key>DATABASE_URL</key>
	<string>https://pinkplus-420.firebaseio.com</string>
</dict>
</plist>
